.npmrc
.vscode/
node_modules/
src/**/*.min.js
src/**/*-plnkr.json
src/common/search-index.js
samples/*
src/common/api-table
src/common/api-table.json
!src/common/api-table-generator.js
!styles/highlight.css
accordion/*
chart/*
chips/*
color-picker/*
diagram/*
dialog/*
grid/*
tree-grid/*
document-editor/*
maps/*
gantt/*
heatmap-chart/*
kanban/*
heatmap/*
tree-grid/*
auto-complete/*
avatar/*
badge/*
barcode/*
breadcrumb/*
bullet-chart/*
button/*
calendar/*
card/*
circular-gauge/*
combo-box/*
multi-select/*
dashboard-layout/*
context-menu/*
datepicker/*
datetimepicker/*
daterangepicker/*
drop-down-list/*
drop-down-tree/*
file-manager/*
form-validator/*
listview/*
menu/*
pivot-table/*
range-navigator/*
range-slider/*
rich-text-editor/*
schedule/*
sidebar/*
sparkline/*
splitter/*
spreadsheet/*
inplace-editor/*
linear-gauge/*
list-box/*
pdf/*
pdfviewer/*
numerictextbox/*
progress-bar/*
query-builder/*
maskedtextbox/*

